{{ ansible_managed | comment(decoration="# ") }}
{{ nginx_log_dir }}/*.log {
    {{ nginx_logrotate_frequency }}
    missingok
    rotate {{ nginx_logrotate_rotate }}
    compress
    delaycompress
    notifempty
    create 640 {{ nginx_user }} adm
    sharedscripts
    postrotate
        if [ -f /var/run/nginx.pid ]; then
            kill -USR1 `cat /var/run/nginx.pid`
        fi
    endscript
}
